<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드-->
<head>
    <title>DAMDA</title>
    <link rel ="icon" href="/images/damda_icon.png">
    <!-- Site favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <!-- Icon Font -->
    <link rel="stylesheet" th:href="@{/fonts/ionicons/css/ionicons.css}">
    <!-- Text Font -->
    <link rel="stylesheet" th:href="@{/fonts/font.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- Normal style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Normal media CSS -->
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        * {
            font-family:  'Jua', sans-serif; !important;
        }
    </style>
</head>
<body>
<main class="cd-main">
    <section class="cd-section index5 visible">
        <div class="cd-content style5">
            <div class="login-box">
                <!-- 로그인 전 페이지 -->
                <div class="row no-gutters height-100-percentage" sec:authorize="!isAuthenticated()">
                    <!-- login style5 left side start -->
                    <div class="col-md-4 col-sm-12 style5-left">
                        <div class="d-flex height-100-percentage padding-30px">
                            <div class="align-self-center width-100-percentage">
                                <h2>여행을 DAMDA</h2>
                                <p>DAMDA는 여행지를 탐색하고, 리뷰하고, 실시간으로 채팅을 하며 여행을 설계하는 서비스입니다.</p>
                            </div>
                        </div>
                    </div>
                    <!-- login style5 left side end -->
                    <!-- login style5 right side start -->
                    <div class="col-md-8 col-sm-12 style5-right">
                        <th:block layout:fragment="content"></th:block>
                    </div>
                    <!-- login style5 right side end -->
                </div>

                <!-- 로그인 후 페이지 -->
                <div class="row no-gutters height-100-percentage" sec:authorize="isAuthenticated()">

                    <div class="col-md-12 col-sm-24 style5-middle">
                        <div class="d-flex height-100-percentage padding-30px">
                            <div class="align-self-center width-100-percentage">
                                <h2>여행을 DAMDA</h2>
                                <p>DAMDA는 여행지를 탐색하고, 리뷰하고, 실시간으로 채팅을 하며 여행을 설계하는 서비스입니다.</p>
                                <a class="btn btn-primary btn-lg" href="/travel/design/plan/list" role="button">시작하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- 공통 스크립트-->
<div id="cd-loading-bar" data-scale="1" class="index"></div>
<!-- JS File -->
<script th:src="@{/js/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</script>
</body>
</html>