<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{calendar-15/fonts/icomoon/style.css}">

  <link rel="stylesheet" th:href="@{calendar-15/css/rome.css}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{calendar-15/css/bootstrap.min.css}">

  <!-- Style -->
  <link rel="stylesheet" th:href="@{calendar-15/css/style.css}">

  <title>Calendar #5</title>
</head>
<body>


<div class="content">

  <div class="container text-left">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <form action="#" class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="input_from">From</label>
              <input type="text" class="form-control" id="input_from" placeholder="Start Date">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="input_from">To</label>
              <input type="text" class="form-control" id="input_to" placeholder="Start Date">
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>



<script th:src="@{calendar-15/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{calendar-15/js/popper.min.js}"></script>
<script th:src="@{calendar-15/js/bootstrap.min.js}"></script>
<script th:src="@{calendar-15/js/rome.js}"></script>

<script th:src="@{calendar-15/js/main.js}"></script>
</body>
</html>