<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
  <div class="justify-content-center container w-25">
    <form th:action="@{|/travel/design/modification/basic/${plan.id}|}" method="post" class="card card mt-2">
      <div class="m-4">
        <span class="text-center mb-2">여행이름</span>
        <br>
        <input type="text" th:field="*{plan.title}" name="title" id="title" style="border-radius: 5px;">
      </div>
      <div class="m-4" >
        <span class="text-center mb-2">여행일수</span>
        <br>
        <input style="border-radius: 5px;" th:field="*{plan.size}" type="text" name="size" id="size">
      </div>
      <div class="m-4">
        <span class="text-center mb-2">Memo</span>
        <textarea name="memo" id="memo" cols="25" rows="10" th:field="*{plan.memo}"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2 mx-2">저장</button>
    </form>
  </div>
</div>
</html>