<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <!-- start -->
    <div class="main-content-container container-fluid px-4">
        <div class="row">
            <a th:if="${paging.getTotalElements() == 0}" class="col-lg-3 col-md-6 col-sm-12 mb-4"
               th:href="@{/travel/design/new}">
                <div class="card card-small card-post h-100 mt-3">
                    <div class="card-post__image" th:style="'background-image: url(https://picsum.photos/800);'"></div>
                    <div class="card-footer text-muted border-top py-3">
                        <h5>플래너를 추가해보세요!</h5>
                    </div>
                </div>
            </a>
            <div th:each="plan : ${paging}" class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small card-post h-100 mt-3">
                    <div class="card-post__image"
                         th:style="'background-image: url(https://picsum.photos/800);'"></div>
                    <div class="card-footer text-muted border-top py-3">
                        <div>
                            <h4 class="card-title col">
                                <a class="text-fiord-blue" th:href="@{|/travel/design/plan/detail/${plan.id}?order=1|}"
                                   th:text="${plan.title}"></a>
                            </h4>
                        </div>
                        <div class="d-flex justify-content-between border-bottom border-1 pb-2 mb-2">
                            <div>
                                <h5 class="card-title col">
                                    <span th:text="|${plan.size}days|" class="text-dark small ms-2"></span>
                                </h5>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    option
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                           th:href="@{|/travel/design/share/${plan.id}|}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                                        </svg> 공유</a></li>
                                    <li><a class="dropdown-item"
                                           th:href="@{|/travel/design/modification/${plan.id}?order=1|}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg> 수정</a></li>
                                    <li><a class="dropdown-item"
                                           th:href="@{|/travel/design/plan/detail/${plan.id}?order=1|}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg> 상세</a></li>
                                    <li><a class="dropdown-item"
                                           onclick="if(!confirm('정말로 삭제하시겠습니까?')) return false;"
                                           th:href="@{|/travel/design/plan/delete/${plan.id}|}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg> 삭제</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--                        <div class="d-flex justify-content-around border-bottom-1 mb-2">-->
                        <!--                            <a class="btn btn-outline-secondary p-2 px-4 mx-1"-->
                        <!--                               th:href="@{|/travel/design/modification/basic/${plan.id}|}">수정</a>-->
                        <!--                            <a class="btn btn-outline-secondary p-2 px-4 mx-1"-->
                        <!--                               th:href="@{|/travel/design/detail/${plan.id}?order=1|}">상세</a>-->
                        <!--                            <a class="btn btn-outline-secondary p-2 px-4 mx-1"-->
                        <!--                               onclick="if(!confirm('정말로 삭제하시겠습니까?')) return false;"-->
                        <!--                               th:href="@{|/travel/design/plan/delete/${plan.id}|}">삭제</a>-->
                        <!--                        </div>-->
                        <div><p th:text="${plan.memo}" class="card-text"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}" class="my-5">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number - 1 and page <= paging.number + 1}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>
</html>