<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- 공통으로 쓰이는 script 파일을넣는다.-->
    <th:block th:fragment="scriptFragment">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
        <script type="text/javascript" th:src="@{/scripts/extras.1.1.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/shards-dashboards.1.1.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/app/app-blog-overview.1.1.0.js}"></script>
        <!--<script th:src="@{/bootstrap.min.js}"></script>-->

    </th:block>
</html>