<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="sidebarFragment">
        <main class="main-content col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                    <div class="main-navbar">
                        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                            <a class="navbar-brand w-100 mr-0" href="/spot/show" style="line-height: 25px;">
                                <div class="d-table m-auto">
                                    <img id="sub-logo" class="d-inline-block align-top mr-1" style="padding-left: 30px; max-width:70px;" th:src="@{/images/damda_icon.png}" alt="Shards Dashboard">
                                    <img id="main-logo" class="d-inline-block align-top mr-1" style="padding-top: 5px;max-width:150px;" th:src="@{/images/damda_logo.png}" alt="Shards Dashboard">
                                </div>
                            </a>
                            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                                <i class="material-icons">&#xE5C4;</i>
                            </a>
                        </nav>
                    </div>

                    <ul class="navbar-nav flex-row">
                        <li class="nav-item w-200 d-none d-md-flex d-lg-flex" style="padding-top:8px; padding-left: 10px; padding-right: 10px;">
                            <a class="nav-link" th:href="@{/spot/show}">
                                <i class="material-icons">vertical_split</i>
                                <span style="font-size:large;">여행지 탐색</span>
                            </a>
                        </li>
                        <li class="nav-item w-200 d-none d-md-flex d-lg-flex"style="padding-top:8px; padding-left: 10px; padding-right: 10px;">
                            <a class="nav-link " th:href="@{/travel/design/plan/list}">
                                <i class="material-icons">edit</i>
                                <span style="font-size:large;">내 여행 계획</span>
                            </a>
                        </li>
                        <li class="nav-item w-200 d-none d-md-flex d-lg-flex"style="padding-top:8px; padding-left: 10px; padding-right: 10px;">
                            <a class="nav-link " th:href="@{/travel/design/new}">
                                <i class="material-icons">edit</i>
                                <span style="font-size:large;">여행 계획 세우기</span>
                            </a>
                        </li>
                        <li class="nav-item w-200 d-none d-md-flex d-lg-flex" style="padding-top:10px; adding-left: 10px; padding-right: 10px;" th:if="${#authentication.principal.method.equals('d')}">
                            <a class="nav-link " th:href="@{/user/my_page}">
                                <i class="material-icons">person</i>
                                <span style="font-size:large;">마이페이지</span>
                            </a>
                        </li>
                        <li class="nav-item w-200 d-none d-md-flex d-lg-flex" style="padding-top:8px; padding-left: 10px; padding-right: 10px;" th:if="!${#authentication.principal.method.equals('d')}">
                            <a class="nav-link " th:href="@{/user/my_page_social}">
                                <i class="material-icons">person</i>
                                <span style="font-size:large;">마이페이지</span>
                            </a>
                        </li>
                        <li class="nav-item w-200 d-none d-md-flex d-lg-flex"style="padding-top:8px; padding-left: 10px; padding-right: 10px;">
                            <a class="nav-link " th:href="@{/review/myList}">
                                <i class="material-icons">person</i>
                                <span style="font-size:large;">내 여행 리뷰</span>
                            </a>
                        </li>
                        <!-- 비로그인 렌더링-->
                        <li class="p-2" sec:authorize="isAnonymous()">
                            <a class="nav-link text-nowrap px-3" th:href="@{/user/login}" role="button">
                                <span class="d-none d-md-inline-block">Login</span>
                            </a>
                        </li>
                        <!-- 로그인 렌더링-->
                        <li class="nav-item dropdown p-2" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons account_circle">&#xe853;</i>
                                <span style="font-size:large;" class="d-none d-md-inline-block" th:text="${#authentication.principal.nickname}"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-small">
<!--                                <a class="dropdown-item" href="user-profile-lite.html">-->
<!--                                    <i class="material-icons">&#xE7FD;</i> Profile</a>-->
<!--                                <a class="dropdown-item" href="components-blog-posts.html">-->
<!--                                    <i class="material-icons">vertical_split</i> Blog Posts</a>-->
<!--                                <a class="dropdown-item" href="add-new-post.html">-->
<!--                                    <i class="material-icons">note_add</i> Add New Post</a>-->
<!--                                <div class="dropdown-divider"></div>-->
                                <a class="dropdown-item text-danger" th:href="@{/user/logout}">
                                    <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
    </th:block>
</html>