<!--정보 변경시 알람-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<form th:if="${not #maps.isEmpty( params.data )}" id="redirectForm" th:action="${params.redirectUri}" th:method="${params.method}" style="display: none;">
    <input th:each="key, status : ${params.data.keySet()}" type="hidden" th:name="${key}" th:value="${params.data.get(key)}" />
</form>

<th:block layout:fragment="script">
    <script th:src="@{/scripts/common.js}"></script>
    <script th:inline="javascript">
        /* <![CDATA[ */

        window.onload = () => {
            const message = [[ ${params.message} ]];
            if (message) {
                alert(message);
            }

            const form = document.getElementById('redirectForm');
            if (form) {
                form.submit();
                return false;
            }

            const redirectUri = [[ ${params.redirectUri} ]];
            location.href = redirectUri;
        }

        /* ]]> */
    </script>
</th:block>
</body>
</html>