<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>마이페이지</h4>
        </div>
    </div>
    <div class="card card-small mb-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <!-- 소셜 로그인 O -->
                        <form th:action="@{/user/my_page_social}" th:object="${userEditForm_social}" method="post"
                              th:if="${#authentication.principal.method} != 'd'">

                            <div th:replace="user/form_errors :: formErrorsFragment"></div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-label">닉네임</label>
                                    <input type="text" th:field="*{nickname}" class="form-control"
                                           placeholder="Nickname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label">이메일</label>
                                    <input type="email" class="form-control"
                                           th:placeholder="${#authentication.principal.email}" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-label">비밀번호</label>
                                    <input type="password" class="form-control"
                                           placeholder="Password" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label">비밀번호 확인</label>
                                    <input type="password" class="form-control"
                                           placeholder="Password" disabled>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">정보 수정</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</html>