<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <!-- Add New Post Form -->
            <div class="card card-small mb-3">
                <div class="card-body">
                    <form id="new-review" action="" class="add-new-post">


                        <div class="row" style="text-align:center">
                            <div class="col-lg-12 col-sm-12 mb-4">
                                <div class="card card-small card-post card-post--aside card-post--1">
                                    <div class="card-body">
                                        <h4 class="text-uppercase page-subtitle">CHOOSE TAG</h4><br/>
                                        <!-- Small Outline Checkbox -->
                                        <div class="row">
                                            <h5 class="division">인원</h5>
                                            <div class="col">
                                                <input type="checkbox" id="tag1">
                                                <label for="tag1" class="mb-2 btn btn-sm btn-outline-primary mr-1">가족여행</label>
                                                <input type="checkbox" id="tag2">
                                                <label for="tag2" class="mb-2 btn btn-sm btn-outline-secondary mr-1">효도여행</label>
                                                <input type="checkbox" id="tag3">
                                                <label for="tag3" class="mb-2 btn btn-sm btn-outline-success mr-1">우정여행</label>
                                                <input type="checkbox" id="tag4">
                                                <label for="tag4" class="mb-2 btn btn-sm btn-outline-danger mr-1">단체모임</label>
                                                <input type="checkbox" id="tag5">
                                                <label for="tag5" class="mb-2 btn btn-sm btn-outline-warning mr-1">Warning</label>
                                                <input type="checkbox" id="tag6">
                                                <label for="tag6" class="mb-2 btn btn-sm btn-outline-info mr-1">Info</label>
                                                <input type="checkbox" id="tag7">
                                                <label for="tag7" class="mb-2 btn btn-sm btn-outline-dark mr-1">Dark</label>
                                                <input type="checkbox" id="tag8">
                                                <label for="tag8" class="mb-2 btn btn-sm btn-outline-light mr-1">Light</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5 class="division">계절</h5>
                                            <div class="col">
                                                <input type="checkbox" id="tag11">
                                                <label for="tag11" class="mb-2 btn btn-sm btn-outline-primary mr-1">봄</label>
                                                <input type="checkbox" id="tag12">
                                                <label for="tag12" class="mb-2 btn btn-sm btn-outline-secondary mr-1">여름</label>
                                                <input type="checkbox" id="tag13">
                                                <label for="tag13" class="mb-2 btn btn-sm btn-outline-success mr-1">가을</label>
                                                <input type="checkbox" id="tag14">
                                                <label for="tag14" class="mb-2 btn btn-sm btn-outline-danger mr-1">겨울</label>
                                                <input type="checkbox" id="tag15">
                                                <label for="tag15" class="mb-2 btn btn-sm btn-outline-warning mr-1">Warning</label>
                                                <input type="checkbox" id="tag16">
                                                <label for="tag16" class="mb-2 btn btn-sm btn-outline-info mr-1">Info</label>
                                                <input type="checkbox" id="tag17">
                                                <label for="tag17" class="mb-2 btn btn-sm btn-outline-dark mr-1">Dark</label>
                                                <input type="checkbox" id="tag18">
                                                <label for="tag18" class="mb-2 btn btn-sm btn-outline-light mr-1">Light</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5 class="division">테마</h5>
                                            <div class="col">
                                                <input type="checkbox" id="tag21">
                                                <label for="tag21" class="mb-2 btn btn-sm btn-outline-primary mr-1">레저</label>
                                                <input type="checkbox" id="tag22">
                                                <label for="tag22" class="mb-2 btn btn-sm btn-outline-secondary mr-1">휴양</label>
                                                <input type="checkbox" id="tag23">
                                                <label for="tag23" class="mb-2 btn btn-sm btn-outline-success mr-1">견학</label>
                                                <input type="checkbox" id="tag24">
                                                <label for="tag24" class="mb-2 btn btn-sm btn-outline-danger mr-1">사진</label>
                                                <input type="checkbox" id="tag25">
                                                <label for="tag25" class="mb-2 btn btn-sm btn-outline-warning mr-1">만남</label>
                                                <input type="checkbox" id="tag26">
                                                <label for="tag26" class="mb-2 btn btn-sm btn-outline-info mr-1">Info</label>
                                                <input type="checkbox" id="tag27">
                                                <label for="tag27" class="mb-2 btn btn-sm btn-outline-dark mr-1">Dark</label>
                                                <input type="checkbox" id="tag28">
                                                <label for="tag28" class="mb-2 btn btn-sm btn-outline-light mr-1">Light</label>
                                            </div>
                                        </div>
                                        <!-- / Small Outline Checkbox -->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-sm btn-accent ml-auto">
                            <i class="material-icons">file_copy</i> Publish</button>


                        <input class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title">
                        <div id="editor-container" class="add-new-post__editor mb-1"></div>
                    </form>
                </div>
            </div>
            <!-- / Add New Post Form -->
        </div>
</div>