<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body style="min-height:100vh;" class="d-flex flex-column">

<header>
    <div class="container py-3 d-flex">
        <a th:href="@{/}" class="mr-auto">메인 페이지</a>

        <div class="flex-grow-1"></div>

        <div>
            <a th:href="@{/question/list}">질문 리스트</a>
        </div>
    </div>
</header>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<main class="flex-grow-1">
    <th:block layout:fragment="content"></th:block>
</main>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<footer class="bg-dark text-light">
    <div class="container py-3 d-flex justify-content-center">
        Copyright all rights reserved
    </div>
</footer>

</body>
</html>