<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">리뷰등록</h5>

    <form th:action="@{/review/create}" method="POST">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" name="subject" class="form-control" placeholder="제목을 입력해주세요.">
        </div>

        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea name="content" class="form-control" rows="10" placeholder="내용을 입력해주세요."></textarea>
        </div>

        <button type="submit" class="btn btn-primary my-2">저장하기</button>

    </form>
</div>

</html>