<!--테스트용 기본 페이지-->
<!-- user_access.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <li class="nav-item">
        <!-- sec:authorize="isAnonymous()" : 로그아웃 상태일 때 만 렌더링 -->
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <!-- sec:authorize="isAuthenticated()" : 로그인 상태일 때 만 렌더링 -->
        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    </li>
    <li sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/user/mypage}">마이페이지</a>
    </li>
    <br/>
</div>
</body>
</html>