<!--테스트용 기본 페이지-->
<!-- user_access.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <li class="nav-item">
        <!-- sec:authorize="isAnonymous()" : 로그아웃 상태일 때 만 렌더링 -->
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <!-- sec:authorize="isAuthenticated()" : 로그인 상태일 때 만 렌더링 -->
        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    </li>
    <li sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/user/mypage}">마이페이지</a>
    </li>
    <br/>
</div>
<!--ROLE_USER 권한을 갖는다면 이 글이 보임-->
<h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>

<!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임-->
<h1 sec:authorize="hasRole('USER')">Has user Role</h1>

<!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
<div sec:authorize="isAuthenticated()">
    Only Authenticated user can see this Text
</div>

<!--인증시 사용된 객체에 대한 정보-->
<b>Authenticated DTO:</b>
<div sec:authentication="principal"></div>

<!--인증시 사용된 객체의 Username (ID)-->
<b>Authenticated username:</b>
<div sec:authentication="name"></div>

<!--객체의 권한-->
<b>Authenticated user role:</b>
<div sec:authentication="principal.authorities"></div>
</body>
</html>